.offerings-group {
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  margin-left: 1rem;
  background: rgb(180, 200, 180);
  color: rgb(30, 35, 40);
}

.form-half-span input, .form-half-span select {
  color: black;
}

.form-half-span input {
  width: 80%;
}

.form-full-span, .form-half-span, .form-inner-span {
  box-sizing: border-box;
  margin: .2rem 0px .2rem 0px;
}

.form-pad {
  margin-left: 1rem;
}

.form-full-span {
  width: 30rem;
  text-align: center;
}

.form-inner-span {
  width: 100%;
  display: flex;
}

.form-half-span {
  width: 14rem;
  margin-left: 1rem;
}

.form-left-half {
  border-right: 1px solid rgb(100, 105, 100);
}

.form-right-half {
  display: flex;
}

.form-left-half, .form-right-half {
  margin-left: 1rem;
}

