.NewButton {
  height: .44rem;
  width: .54rem;
  padding: .2rem;
  border-radius: .3rem;
  font-weight: 600;
  line-height: .6rem;
}

.buttonIcon {
  width: .48rem;
  height: .48rem;
  padding-bottom: .22rem;
  padding-bottom: .22rem;
  font-size: .64rem;
  text-align: center;
  margin: auto;
}