.NewButton {
  height: .64rem;
  width: .44rem;
  padding: .2rem;
  border-radius: .6rem;
  font-weight: 600;
  line-height: .6rem;
}

.buttonIcon {
  width: .40rem;
  height: .40rem;
  padding-bottom: .12rem;
  font-size: .96rem;
  margin: auto;
  /* comment */
}