.DisplayStatic {
  height: 80%;
  width: 80%;
  background: rgb(160, 180, 160);
}

.heading-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.display-heading, .display-fields-area {
  font-family: "Roboto Slab", serif;
}

.display-heading {
  width: 100%;
  border-bottom: rgb(100, 110, 100);
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  padding-top: 1rem;
}

.display-fields-area {
  padding-top: 2px;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.display-label, .display-text, .display-number {
  color: rgb(30, 40, 30);
  padding-bottom: .5rem;
  display: block;
}

.display-label {
  margin-right: 1rem;
  margin-left: .5rem;
  font-weight: 600;
}

.display-group, .display-group-blank {
  margin: 1rem;
  width: 44%;
  height: 3rem;
  display: flex;
  align-items: flex-end;
}

.display-group {
  background: rgb(180, 200, 180);
}

.subgroup-display {
  display: flex;
  width: 20rem;
  flex-wrap: wrap;
  margin-left: 1rem;
  background: rgb(180, 200, 180);
  color: rgb(30, 35, 40);
}

.full-span, .half-span, .inner-span {
  box-sizing: border-box;
  margin: .2rem 0px .2rem 0px;
}

.pad {
  margin-left: 1rem;
}

.full-span {
  width: 20rem;
  text-align: center;
}

.inner-span {
  width: 100%;
  display: flex;
}

.half-span {
  width: 8.5rem;
}

.left-half {
  border-right: 1px solid rgb(100, 105, 100);
}

.left-half, .right-half {
  margin-left: 1rem;
}