.expansionBtn {
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 1rem;
  width: 1rem;
  height: 1.2rem;
  overflow: hidden;
}

.TitleBar {
  display: flex;
  margin-bottom: .2rem;
}

.detailList {
  width: 80%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.detailList > p {
  margin-top: .2rem;
}

.detailList > div {
  margin-top: .4rem;
}

.activeItem {
  font-weight: 600;
}

.ListDetail {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.ExpanderTitle {
  cursor: default;
  width: 6rem;
}

.ExpanderTitle + div {
  margin-left: 1rem;
}