.expansionBtn {
  cursor: pointer;
  display: block;
  margin-right: .5rem;
  font-weight: bold;
  font-size: 1rem;
  width: .6rem;
  height: 1.2rem;
  overflow: hidden;
}

.TitleBar {
  display: flex;
}

.detailList {
  width: 80%;
  margin-left: 1rem;
}

.ListDetail {
  cursor: pointer;
}

.ExpanderTitle {
  cursor: default;
}