.ObjectListColumn {
  width: 24%;
  height: 92vh;
  background: rgb(100, 110, 100);
  font-family: "Roboto Slab", serif;
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}