.DisplayForm {
  height: 80%;
  width: 80%;
  box-shadow: 1px 1px 2px rgb(30, 40, 30);
}

.form-heading {
  width: 100%;
  border-bottom: rgb(100, 110, 100);
}

.input-fields-area {
  padding: 1rem;
  background: rgb(140, 160, 140);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input-group {
  padding: 1rem;
  width: 44%;
  height: 2rem;
  background: rgb(200, 210, 200);
}

.item-label {
  width: 3rem;
}