.DisplayForm {
  height: 90%;
  width: 90%;
  box-shadow: 1px 1px 2px rgb(30, 40, 30);
}

.form-heading {
  width: 100%;
  border-bottom: rgb(100, 110, 100);
}

.input-fields-area {
  padding: 1rem;
  background: rgb(80, 90, 80);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input-group {
  padding: 1rem;
  width: 48%;
  height: 3rem;
}

.item-label {
  width: 3rem;
}