.DisplayForm {
  height: 80%;
  width: 80%;
  background: rgb(160, 180, 160);
}

.form-heading-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-heading .input-fields-area {
  font-family: "Roboto Slab", serif;
}

.form-heading {
  width: 100%;
  border-bottom: rgb(100, 110, 100);
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  padding-top: 1rem;
}

.input-fields-area {
  padding-top: 2px;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.input-fields-area .button {
  margin: auto;
  color: black;
  padding: 6px;
}

.input-group, .input-group-blank {
  padding: 1rem;
  margin: 1rem;
  width: 44%;
  height: 2rem;
}

.input-group {
  background: rgb(180, 200, 180);
}

.input-group input, .input-group select {
  color: black;
}

.item-label {
  width: 5rem;
  margin-right: 1rem;
}

.input-number {
  width: 5rem;
}

.input-text {
  width: 9.5rem;
}

.form-subgroup {
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  margin: 0px 0px 1rem 1rem;
  background: rgb(180, 200, 180);
  color: rgb(30, 35, 40);
}

.form-half-span input, .form-half-span select {
  color: black;
}

.form-half-span input {
  width: 80%;
}

.form-full-span, .form-half-span, .form-inner-span {
  box-sizing: border-box;
  margin: .2rem 0px .2rem 0px;
}

.form-pad {
  margin-left: 1rem;
}

.form-full-span {
  width: 30rem;
  text-align: center;
}

.form-center-content {
  display: flex;
  justify-content: center;
}

.form-inner-span {
  width: 100%;
  display: flex;
}

.form-half-span {
  width: 14rem;
  margin-left: 1rem;
}

.form-right-half {
  display: flex;
}

.form-left-half, .form-right-half {
  margin-left: 1rem;
}