.DialogBoxContainer {
  height: 94vh;
  width: 100vw;
  display: flex;
  background: rgba(100, 110, 100, .5);
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 94vh;
  z-index: 4;
  font-family: "Roboto Slab", serif;
}

.DialogBox {
  height: 24rem;
  width: 36rem;
  background: rgb(200, 210, 200);
  border: 1px solid rgb(30, 50, 30);
  color: black;
}

.dialog-heading-bar {
  margin: 1rem;
}

.dialog-heading {
  font-size: 1.6rem;
}

.dialog-prompt {
  margin: 2rem 0 0 1rem;
  font-size: 1.2rem;
}

.dialog-button-bar {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.dialog-no-btn, .dialog-yes-btn {
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
}

.dialog-no-btn {
  color: red;
}

.dialog-yes-btn {
  color: green;
}