.MenuBar {
  height: 2rem;
  width: 100%;
  border-bottom: rgb(30, 35, 30);
  font-family: "Roboto Slab", serif;
  background: rgb(80, 100, 80);
  color: white;
  display: flex;
  align-items: center;
}

.MenuTitle {
  width: 80%;
  padding-left: 1rem;
}

.MenuTitle a {
  font-family: 'Piedra', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 3px rgba(30, 40, 30, .9);
}

.LoginContainer {
  display: flex;
  justify-content: right;
}

.LoginContainer a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}
