.offerings-display {
  display: flex;
  width: 20rem;
  flex-wrap: wrap;
  background: rgb(210, 215, 210);
  border: 1px solid rgb(100, 105, 100);
  color: rgb(30, 35, 40);
}

.full-span, .half-span, .inner-span {
  box-sizing: border-box;
}

.full-span {
  width: 20rem;
  text-align: center;
}

.inner-span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.half-span {
  width: 10rem;
}

.left-half, .right-half {
  border-bottom: 1px solid rgb(100, 105, 100);
}

.left-half {
  border-right: 1px solid rgb(100, 105, 100);
}