.NewPotionButton {
  border: 2px solid rgb(250, 252, 250);
  cursor: pointer;
  border-radius: .3rem;
  background: rgb(140, 170, 140);
  margin-left: 2rem;
  transition: all 200ms 300ms ease-out;
}

.NewPotionButton:hover {
  border: 2px solid rgb(100, 180, 100);
  background: rgb(200, 220, 200);
}

.NewPotionButton:active {
  border: 2px solid rgb(30, 40, 30);
  background: rgb(100, 110, 100);
}
